<!DOCTYPE html>
<IfModule mod_headers.c> Header set X-Content-Type-Options nosniff </IfModule>
<system.webServer>
<httpProtocol>
<IfModule mod_headers.c> Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self'; font-src 'self'; object-src 'none'" </IfModule>
<html>
<body>
<h1>Uhoh...Something happened</h1>
<h2>Our Auburn Engineers are taking a look.</h2>
<a href="/">Go Home</a>
</body>
</httpProtocol>
</system.webServer>
</html>
